@import "tailwindcss";
html {
    background: linear-gradient(152deg, rgba(0, 0, 0, 1) 0%, rgba(74, 72, 66, 1) 100%);
    /* animation-name: unhoverAnim; */
}

.lata {
    order: 1;
    rotate: 10deg;
    top: 0px;
    transition: 0.3s;
}

.lata:hover {
    order: 1;
    rotate: none;
    /* animation-name: hoverAnim; */
    transform: scale(1.1) translateY(-20px);
}

.lata-deco {
    order: 1;
    rotate: 10deg;
    top: 0px;
    transition: 0.3s;
}

.lata-deco:hover {
    order: 1;
    rotate: 15deg;
    /* animation-name: hoverAnim; */
}