@import "tailwindcss";
html {
    background: linear-gradient(152deg, rgba(0, 0, 0, 1) 0%, rgba(74, 72, 66, 1) 100%);
    /* animation-name: unhoverAnim; */
}

.lata {
    top: 0px;
    transition: 0.3s;
}

.lata:hover {
    /* animation-name: hoverAnim; */
    transform: scale(1.1) translateY(-20px);
}