---
import LlaunaImg from "../components/LlaunaImg.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import 'animate.css';
---

<Layout>
	<div class="flex w-screen justify-center bg-stone-800 mb-10">
		<video src="/pagina-llaunes/video/header.mp4" width="500px" autoplay loop></video>
	</div>
	<h1 class="text-center mb-6 font-bold text-3xl text-white">LES NOSTRES BEGUDES</h1>
	<div class="flex flex-row gap-3 justify-center md:gap-10">
		<LlaunaImg
			flavour="mango"
			side="frente"/>
		<LlaunaImg 
			flavour="coco"
			side="frente"/>
		<LlaunaImg
			flavour="manzana"
			side="frente"/>
		<LlaunaImg
			flavour="pitahaya"
			side="frente"/>
		<LlaunaImg
			flavour="taronja"
			side="frente"/>
		<LlaunaImg
			flavour="uves"
			side="frente"/>
	</div>
</Layout>
