---
import LlaunaLink from "../components/LlaunaLink.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import 'animate.css';
---

<Layout>
	<section class="flex w-screen h-[350px] md:h-[500px] justify-center bg-[rgba(0,0,0,0.54)] mb-10 items-stretch object-cover">
		<div class="md:top-110 top-67 absolute text-white text-shadow-lg bg-stone-700 md:p-2 p-1"><a href="#" class="relative object-cover">Compra ara</a></div>
		<video src="/pagina-llaunes/video/header.webm" class="w-[100%] h-[100%] block object-cover object-top" autoplay loop></video>
	</section>
	
	<h1 class="text-center mb-6 font-bold text-3xl text-white">LES NOSTRES BEGUDES</h1>
	<div class="flex flex-row justify-center md:gap-10 gap-3 flex-wrap m-4">
		<div class="md:gap-10 gap-3 flex flex-row">
			<LlaunaLink
				flavour="mango"
				side="frente"/>
			<LlaunaLink 
				flavour="coco"
				side="frente"/>
			<LlaunaLink
				flavour="manzana"
				side="frente"/>
		</div>
		<div class="md:gap-10 gap-3 flex flex-row">
			<LlaunaLink
				flavour="pitahaya"
				side="frente"/>
			<LlaunaLink
				flavour="taronja"
				side="frente"/>
			<LlaunaLink
				flavour="uves"
				side="frente"/>
		</div>
	</div>
</Layout>
