---
import LlaunaImg from "../../components/LlaunaImg.astro";
import LlaunaLink from "../../components/LlaunaLink.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import 'animate.css';
---

<Layout>
    <div class="flex md:flex-row flex-col m-10 gap-10 justify-around items-center">
        <div class="text-white text-right align-center h-[90%] w-[100vw] md:w-[40%] md:flex-col flex-row">
            <div class="flex flex-col gap-5">
                <p class="font-bold sm:text-4xl text-2xl mulish-bold md:text-left text-center">STORMCHARGE COCO</p>
                <p class="sm:text-sm text-md mulish-thin object-cover md:flex hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi maiores minima a quae temporibus molestias quasi tempore. Quos reiciendis ab quod qui voluptates aspernatur. Illo animi accusamus at sit.</p>
                <a href="#" class="bg-[#9C6A4F] text-[#ACA794] font-bold sm:text-md text-sm hover:text-white p-2 transition-[0.2s] mt-8 mulish-bold md:block hidden">ON TROBAR</a>
            </div>
        </div>
        <div class="flex">
            <LlaunaImg
                flavour="coco"
                side="frente"/>
        </div>
        <div class="md:hidden block">
            <a href="#" class="bg-[#9C6A4F] text-[#ACA794] font-bold sm:text-md text-sm hover:text-white p-2 transition-[0.2s] mt-8 mulish-bold">ON TROBAR</a>
        </div>
    </div>

    <section class="parallax-section">
        <div class="flex justify-center md:m-30 m-10 text-white">
            <div class="flex flex-col bg-stone-600 text-right md:p-20 p-10">
                <p class="font-bold text-2xl align-right mulish-bold">test</p>
                <p class="align-right mulish-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="flex flex-col bg-stone-700 text-left md:p-20 p-10">
                <p class="font-bold text-2xl mulish-bold">test</p>
                <p class="align-left mulish-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </section>

    <section class="flex flex-col justify-center m-20 mt-10 text-white font-bold gap-4">
        <p class="text-center text-3xl mulish-bold">Més sabors</p><br>
        <div class="flex flex-row justify-center md:gap-10 gap-3 flex-wrap">
			<LlaunaLink
				flavour="mango"
				side="frente"/>
			<LlaunaLink 
				flavour="manzana"
				side="frente"/>
			<LlaunaLink
				flavour="pitahaya"
				side="frente"/>
			<LlaunaLink
				flavour="taronja"
				side="frente"/>
			<LlaunaLink
				flavour="uves"
				side="frente"/>
        </div>
    </section>
</Layout>
