---
---

<header class="fixed top-0 w-screen">
    <div class="flex p-5 justify-between text-white bg-stone-900 [--bg-opacity:50%]">
        <div>
            <p>STORMCHARGE</p>
        </div>
        <ul>
            <li><a href="#">Test</a></li>
        </ul>
    </div>
</header>