---
---

<header class="fixed top-0 w-screen backdrop-blur-sm order-99">
    <div class="flex p-5 justify-between text-white bg-stone-900/[60%]">
        <div>
            <p class=""><a href="/pagina-llaunes/">STORMCHARGE</a></p>
        </div>
        <ul>
            <li class=""><a href="#">Test</a></li>
        </ul>
    </div>
</header>